body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}


/*clases específicas*/
.portada{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/hero.gif');
}
header a {
  color: white;
  text-decoration: none;
  padding: 30px;
  margin: -22px;
}
header a:hover{
  color: #ff00bf;
}
header ul li {
  display: inline;
  margin: 5px;
  list-style: none;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  padding-top: 7px;
}
.logo-header {
  width: 63px;
  height: 44px;
}

header {
  position: absolute;


}
.box-header {
  position: relative;

  top: 27px;
  left: 30px;
  font-weight: lighter;
}
.box-nav{
  position: relative;
  top:-40px;
  left: 800px;
}
.logo-square {
  width: 100px;
}
li:hover, [class^="icon-"]:hover, [class*="icon-"]:hover {
  color: #db964a;
}
.btn-link{
  text-decoration:underline;
  color: #728099;
  font-weight: lighter;
}

.box_lyft{
  position: relative;
  width: 577px;

  top: 114px;
  left: 790px;
  padding: 4rem;
  background-color: white;
}
.text-xsmall {
  font-size: .6rem;
}
.text-xsmall p{
  color: #728099;

}
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  color: #352384;
  font-weight: bold;
}
.portada h3{
  font-weight: lighter;
  color: #392786;
}
#phone{
  border: 0;
  outline: none;
}
.box_lyft hr{
  border-color: #352384;
}
.btn-pink {
  background-color:#ff00bf;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: inherit;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
  padding: .75rem 1.25rem;
  font-size: 1rem;
}
.text-xsmall a{
  color: #ff00bf;
}
.box_lyft a:hover{
  color: purple;
}
/*Seccion2*/
.part2{
  width: 100%;
  background-color:#6f268b;
  position: absolute;
  top: 595px;
  height: 625px;

}
.content-part2{
  padding: 4rem;
  color: white;
  display: inline-block;
}
.texto{
  position: absolute;
  display: inline-block;
}
.content-part2 h3{
  font-size: 22px;
  font-weight: lighter;
}
.image{
  position: absolute;
  left: 764px;
}
/*section three */
section {
  background: white;
  width: 100%;
  height: 35rem;
}
div.box3 {
  width: 20%;
  line-height: 1.5rem;
  display: inline-block;

 }

.whatch {
  color: black;
  text-align: left;
}
.conteiner0 {

  box-sizing: border-box;
  display: inline-block;
}
.video {
  width: 1200px;
  height: 450px;
  margin-left:2rem;

}

/* Aplicando estilo en footer*/

footer {
  background:  #333447;
  height: 30rem;
  width: 100%;
}

ul {
  list-style: none;
  line-height: 2rem;
}
img {
  text-decoration: none;
}
.box {
  display: inline-block;
}
.conteiner1 {
display: inline-block;
margin: 5rem;
margin-top: 2rem;
}
.conteiner2 {
  display: inline-block;
  margin-left: 8rem;
  margin-top: 2rem;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
}
a.first:first-child:hover {
  color: white;
}
a:hover {
  color: #76278F;
}

.pie {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  margin-left: 7rem;
  text-align: center;
}
.icono {
  display: inline-block;
  margin-left: 3rem;
  padding-left: -10rem;;
  border-radius: 100%;
  height: 2.5rem;
  width: 3rem;
  padding-top: 0.5rem;
  border: 2px solid white;
  color: white;
}
span {
  color: white;
  text-align: center;
}

.conteiner1:hover {
  color: red;
}
