body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}


/*clases específicas*/
.portada{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/hero.gif');
}
a {
  color: white;
  text-decoration: none;
  padding: 30px;
  margin: -22px;
}
a:hover{
  color: #ff00bf;
}
ul li {
  display: inline;
  margin: 5px;
  list-style: none;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  padding-top: 7px;
}
.logo-header {
  width: 63px;
  height: 44px;
}

header {
  position: absolute;


}
.box-header {
  position: relative;

  top: 27px;
  left: 30px;
  font-weight: lighter;
}
.box-nav{
  position: relative;
  top:-40px;
  left: 800px;
}
.logo-square {
  width: 100px;
}
li:hover, [class^="icon-"]:hover, [class*="icon-"]:hover {
  color: #db964a;
}
.btn-link{
  text-decoration:underline;
  color: #728099;
  font-weight: lighter;
}

.box_lyft{
  position: relative;
  width: 577px;
  height:420px;
  top: 114px;
  left: 790px;
  padding: 4rem;
  background-color: white;
}
.text-xsmall {
  font-size: .6rem;
}
.text-xsmall p{
  color: #728099;

}
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  color: #352384;
  font-weight: bold;
}
h3{
  font-weight: lighter;
  color: #392786;
}
#phone{
  border: 0;
  outline: none;
}
hr{
  border-color: #352384;
}
.btn-pink {
  background-color:#ff00bf;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: inherit;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
  padding: .75rem 1.25rem;
  font-size: 1rem;
}
.text-xsmall a{
  color: #ff00bf;
}
.box_lyft a:hover{
  color: purple;
}
